<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--CADENAS DE CONEXION-->
    <!--FRAN-->
      <add key="CadenaDB" value="Data Source=DESKTOP-NC84MH6\SQLEXPRESS;Initial Catalog=master;Integrated Security=True"/>
    <!--NAHUEL-->
	  <!--<add key="CadenaDB" value="Data Source=DESKTOP-HHC2TUR;Initial Catalog=database;Integrated Security=True"/>-->

  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
</configuration>
