<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="Proyecto_PAVI.Properties.Settings.DatabaseConnectionString"
      connectionString="Data Source=GIGENA-PC;Initial Catalog=Database;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="Proyecto_PAVI.Properties.Settings.basepavConnectionString"
      connectionString="Data Source=DESKTOP-NC84MH6\SQLEXPRESS;Initial Catalog=basepav;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <!--CADENAS DE CONEXION-->
    <!--FRAN-->
    <add key="CadenaDB" value="Data Source=DESKTOP-NC84MH6\SQLEXPRESS;Initial Catalog=basetp;Integrated Security=True"/>
    <!--NAHUEL-->
	  <!--<add key="CadenaDB" value="Data Source=GIGENA-PC;Initial Catalog=Database;Integrated Security=True"/>-->

  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
</configuration>
